h1 {
    text-decoration: underline;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin-left: 5em;
    margin-right: 4em;
}
div {
    font-size: 20px;
    margin-top: 1em;
    margin-left: 8em;
    margin-bottom:1em;
    font-style: italic;
}
article {
    margin-left:15em;
    margin-right:15em;
    padding-left: 5px;
    background-color: green;
    font-size: 15px;
    color: white;
    border-style: solid;
    border-color: black;
    border-left-width: 5px;
}
.off {
    margin-left:15em;
    margin-right:15em;
    padding-left: 5px;
    background-color: rgb(107, 3, 3);
    font-size: 15px;
    color: white;
    border-style: solid;
    border-left-color: blue;
    border-left-width: 5px; 
}
article:hover {
    color:white;
    background-color:black;
    border-color: green;
}
article:hover:first-line {
    color: turquoise;
}